.line-item {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    background-color: var(--color-white);

    gap: var(--space--xs);
    margin-bottom: var(--space--s);
    padding: var(--space-xs);
    border-radius: var(--border-radius);

    & > * {
        margin-bottom: 0;
    }
}

.line-item__name {
    flex: 1 1 100%;
    font-weight: bold;

    @media (width > 50rem) {
        flex: 1 1 0;
    }
}

.line-item__description {
    flex-basis: 100%;
    max-width: 100%;
    color: var(--color-text-muted);
    font-weight: normal;
    font-size: var(--font-size-s);
}

.line-item__quantity-price {
    flex: 0 0 auto;
    align-self: flex-end;
    justify-self: flex-end;
    order: 3;

    font-weight: bold;

    @media (width > 50rem) {
        display: none;
    }
}

.line-item__quantity {
    flex: 1;
    display: none;

    @media (width > 50rem) {
        display: revert;
        flex: 0 0 9rem;
    }
}

.line-item__price {
    flex: 1;
    display: none;

    @media (width > 50rem) {
        display: revert;
        flex: 0 0 9rem;
    }
}

.line-item__actions {
    display: flex;
    gap: var(--space-xs);
    order: 2;
    flex: 1 1 auto;

    @media (width > 50rem) {
        order: revert;
        flex: 0 0 10rem;
    }
}

.line-item--form {
    box-shadow: var(--shadow-small);

    & .line-item__quantity,
    & .line-item__price {
        display: block;
    }

    & .line-item__description {
        order: 2;
    }
}

.line-item--header {
    display: none;
    background-color: var(--color-light);
    margin-bottom: var(--space-s);

    @media (width > 50rem) {
        display: flex;
    }

    & > * {
        font-size: var(--font-size-s);
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}
